html,body{
    height: 100%;

}
.page-wrapper{
    min-height: 500px;
}
/* footer styling */
.footer {
    background: rgb(255, 229, 180);
    height: 320px;
    color: #151719;
    position: relative;

}
.footer .footer-content .footer-section{
    padding: 25px;
   
}
.footer .footer-bottom{
    background: wheat;
    color: gray;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    
    padding-top: 20px;

}
