<div class="row">
    <div class="col">
        <app-sidebar></app-sidebar>

    </div>
    <div class=" col-10 " style="align-content: center;">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="assets/images/offer0.jpg" alt="Image 1" style="height: 400px; width: 100%;">
                <div class="carousel-caption">
                    <!-- <h2>Book Ticket</h2> -->
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/images/offer1.jpg" alt="Image 2" style="height: 400px; width: 100%;">
                <div class="carousel-caption">
                    <!-- <h2>Packbags</h2> -->
                </div>
            </ng-template>

            <ng-template ngbSlide>
                <img src="assets/images/offer2.jpg" alt="Image 3" style="height: 400px; width: 100%;">
                <div class="carousel-caption">
                    <!-- <h2>You are ready to fly </h2> -->
                </div>
            </ng-template>

            <ng-template ngbSlide>
                <img src="assets/images/offer3.jpg" alt="Image 4" style="height: 400px; width: 100%;">
                <div class="carousel-caption">
                    <!-- <h2>Packbags</h2> -->
                </div>
            </ng-template>

        </ngb-carousel>
    </div>
</div>