<div id="sb">
    <div class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <!-- <li><a class="element" routerLink="/listComponent" >Home</a></li> -->
        <li><a class="element" routerLink="/bookTicket" >Book Ticket</a></li>
        <li><a class="element" routerLink="/viewTicket" >View Ticket</a></li>
        <!-- <li><a class="element" routerLink="/viewTicket" >Edit User Details</a></li> -->
        <li><a class="btn btn-link" (click)="logOut()" >Log Out </a></li>
        <li><a class="element" routerLink="/aboutUs" >About Us </a> </li>
        
    </ul>
</div>