<a class="btn btn-secondary btn-lg" routerLink="/list-operation" >Back</a> 
<div class="col">
<div class="about-section">
    <div class="container">
        <img src="assets/images/LeadershipTeam.jpg" alt="Snow" style="width:100%;">
    </div>
    <h1>About Us</h1>
    <p>XYZ Airline is India’s largest passenger airline with a market share of
     28% as of February, 2020. We primarily operate in India’s domestic air 
     travel market as a low-cost carrier with focus on our three pillars – offering 
     low fares, being on-time and delivering a courteous and hassle-free experience.
      XYZ has become synonymous with being on-time.</p>

</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="assets/images/ceo.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Whole Time Director and Chief Executive Officer</p>
                <p>Mr. John Doe is an aviation veteran and has held a broad spectrum of
                    leadership positions in Planning, Maintenance, Finance and Information
                    Technology.John was with United Airlines for nearly twenty years.
                    He has also been an advisor to both Air Canada and US Airways during their
                    restructuring </p>
                <p></p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/president.jpg" alt="Prabhu" style="width:100%">
            <div class="container">
                <h2>Prabhu Schauer</h2>
                <p class="title">President & Chief Operating Officer</p>
                <p>Mr. Prabhu-Schauer is an experienced international aviation
                    executive with a total professional experience of over 36 years.
                    He has served as the Chief Executive Officer of some of the major
                    airlines across Europe and Asia.</p>
                <p></p>

            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/images/cfo.jpg" alt="Aditya" style="width:100%">
            <div class="container">
                <h2>Aditya Doe</h2>
                <p class="title">Chief Commercial Officer</p>
                <p>Aditya Doe has been in the airline business for
                    over 35 years. He has specific functional experience in
                    all areas of commercial activity, including sales, revenue
                    management, network planning, alliances, international relations,
                    cargo, IT and regional management.</p>

            </div>
        </div>
    </div>
</div>