<div class="row">
    <div class="col">
        <app-sidebar></app-sidebar>

    </div>


    <div class="col-lg-10">

        <!-- <button class="btn btn-outline-danger" (click)="logOutUser()">LogOff</button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-warning" (click)="backToList()">Back</button>
            <br />
            <br /> -->

        <br/>
        <div class="col-lg-8">


            <table class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Passenger Name</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Ticket Id</th>
                        <th>Time</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- *ngFor -> Structural Directive -->
                <tbody>

                    <tr *ngFor="let ticket of tickets">
                        <td>{{ticket.user.name}}</td>
                        <td>{{ticket.flight.source}}</td>
                        <td>{{ticket.flight.destin}}</td>
                        <td>{{ticket.ticketId}}</td>
                        <td>{{ticket.flight.timeB}}</td>
                        <td>{{ticket.flight.price}}</td>

                        <td>
                            <button class="btn btn-outline-danger" type="button"
                                (click)="cancel(ticket.ticketId)">Cancel</button> &nbsp; &nbsp;

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <!-- </ng-container> -->
    </div>
</div>